
body {
  background-color: rgb(208, 198, 184);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 10% / 50%;
}

.snake {
  background-color: rgb(255, 196, 0);
  z-index: 2;
}

#snake-head {
  background-color: rgb(255, 128, 0);
}

.apple {
  background-color: rgb(55, 255, 0);
  z-index: 1;
}